@model _13132_egzamin_z_asp.net.Models.Awaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Awaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miejsce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miejsce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrUrzadzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrUrzadzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataZgloszenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataZgloszenia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AwariaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
